@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
.social-icon {
  cursor: pointer;
  display: inline-block; }

.social-icon__github {
  background-image: url("/images/github.svg");
  background-size: contain; }

.social-icon__twitter {
  background-image: url("/images/twitter.svg");
  background-size: contain; }

.social-icon__google-plus {
  background-image: url("/images/google_plus.svg");
  background-size: contain; }

.social-icon__linkedin {
  background-image: url("/images/linkedin.svg");
  background-size: contain; }

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

html, body {
  height: 100%; }

.home {
  height: 100%; }

.header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center; }
  .header .background {
    background: url("/images/background.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
    .header .background::before {
      background-color: rgba(0, 0, 0, 0.7);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%; }
  .header h1 {
    margin: 0.5em; }
  .header p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    max-width: 80%;
    width: 440px; }
  .header ul {
    padding: 0; }
  .header li {
    display: inline-block;
    list-style: none; }
  .header .social-icon {
    display: inline-block;
    height: 32px;
    list-style: none;
    margin: 0 12px;
    width: 32px;
    -webkit-transition: -webkit-transform 400ms;
            transition: transform 400ms; }
    .header .social-icon:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.headshot {
  border: 2px solid #fff;
  border-radius: 52px;
  box-sizing: border-box;
  height: 104px;
  overflow: hidden;
  width: 104px; }
  .headshot::before {
    background: url("/images/headshot.jpg") center no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: 100%;
    width: 100%; }
