@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
.social-icon {
  cursor: pointer;
  display: inline-block; }

.social-icon__github {
  background-image: url("/images/github.svg");
  background-size: contain; }

.social-icon__twitter {
  background-image: url("/images/twitter.svg");
  background-size: contain; }

.social-icon__google-plus {
  background-image: url("/images/google_plus.svg");
  background-size: contain; }

.social-icon__linkedin {
  background-image: url("/images/linkedin.svg");
  background-size: contain; }

html, body {
  height: 100%; }

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.7; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.banner {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 480px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
  .banner .background {
    background: url("/images/background.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
    .banner .background::before {
      background-color: rgba(0, 0, 0, 0.7);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%; }
  .banner h1 {
    margin: 0.5em; }
  .banner ul {
    padding: 0; }
  .banner li {
    display: inline-block;
    list-style: none; }

.banner__cover {
  height: 100%; }

.banner__home .navigation {
  margin-top: 1.25em; }
  .banner__home .navigation .button {
    margin: 0 0.5em; }
.banner__home .social-links {
  margin-top: 1.5em;
  margin-bottom: 0; }
.banner__home .social-icon {
  display: inline-block;
  height: 32px;
  list-style: none;
  margin: 0 12px;
  width: 32px;
  -webkit-transition: -webkit-transform 400ms;
          transition: transform 400ms; }
  .banner__home .social-icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.banner__post .intro {
  margin: 2em 0;
  text-align: left; }

.content {
  color: #292929;
  margin: 5rem auto; }
  .content blockquote {
    border-left: 8px solid rgba(0, 0, 0, 0.1);
    padding-left: 1em;
    margin: 1em 2em; }

.author {
  font-style: italic; }

.row {
  width: auto;
  max-width: 48em;
  padding: 0 2em;
  box-sizing: border-box; }

.fill-height {
  height: 100%; }

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  border-radius: 2em;
  letter-spacing: 0.11em;
  padding: 0.66em 1em;
  text-decoration: none;
  text-transform: uppercase; }

.button__on-dark {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.9); }
  .button__on-dark:hover {
    border: 1px solid white;
    color: white; }
  .button__on-dark:active {
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9); }

.button-icon {
  display: inline-block;
  width: 1.68em;
  height: 1.68em;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 0.25em; }

.profile .headshot {
  margin-bottom: -0.25em; }

.profile__home {
  max-width: 88%;
  width: 440px; }
  .profile__home .intro {
    font-size: 0.8em;
    font-weight: 300;
    margin: 0 auto; }
  @media screen and (max-height: 490px) {
    .profile__home .headshot, .profile__home .name {
      display: inline-block;
      vertical-align: middle; }
    .profile__home .headshot {
      width: 72px;
      height: 72px; }
    .profile__home .intro {
      margin-top: 1.4em; } }

.headshot {
  border: 2px solid #fff;
  border-radius: 52px;
  box-sizing: border-box;
  display: inline-block;
  height: 104px;
  overflow: hidden;
  width: 104px; }
  .headshot::before {
    background: url("/images/headshot.jpg") center no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: 100%;
    width: 100%; }
