.banner {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: center;
  max-height: 100%;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

  .background {
    background: url("/images/background.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &::before {
      background-color: rgba(0, 0, 0, 0.7);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  h1 {
    margin: 0.5em;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  .headshot {
    $size: 104px;

    border: 2px solid #fff;
    border-radius: $size / 2;
    box-sizing: border-box;
    height: $size;
    overflow: hidden;
    width: $size;

    &::before  {
      background: url("/images/headshot.jpg") center no-repeat;
      background-size: 100%;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .social-icon {
    $size: 32px;

    display: inline-block;
    height: $size;
    list-style: none;
    margin: 0 12px;
    width: $size;
    transition: transform 400ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.banner__cover {
  height: 100%;
}

.banner__home {
  .intro {
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
    max-width: 88%;
    width: 440px;
  }

  .navigation {
    margin-top: 1.25em;

    .button {
      margin: 0 0.5em;
    }
  }

  .social-links {
    margin-top: 1.5em;
  }
}

.banner__post {
  .intro {
    margin: 2em 0;
    text-align: left;
  }
}