html, body {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: bold;
}
