.author {
  font-style: italic;
}

.comments, .share {
  margin-top: 2em;
}

.share--button {
  margin-right: 0.5em;
}

code {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 0.88em;
}

pre code {
  background-color: none;
  border: none;
}